%html
  %meta{:charset => "utf-8"}
  %link{:rel => "stylesheet", :href => "../css/style.css"}
  %script{:type => "text/javascript", :src => "../js/lib/jquery-1.6.4.js"}
  %script{:type => "text/javascript", :src => "../js/lib/json2.js"}
  %script{:type => "text/javascript", :src => "../js/lib/underscore.js"}
  %script{:type => "text/javascript", :src => "../js/lib/backbone.js"}
  %script{:type => "text/javascript", :src => "../js/config.js"}
  %script{:type => "text/javascript", :src => "../js/app.js"}
%body
  %h1 MeanXY
  #app
    %ul#tiles
      &nbsp;
    #breadcrumbs
      &nbsp;