.positioned, .row_1, .handheld_row_1, .col_1, .handheld_col_1, .input_1, .handheld_input_1, .row_2, .handheld_row_2, .col_2, .handheld_col_2, .input_2, .handheld_input_2, .row_3, .handheld_row_3, .col_3, .handheld_col_3, .input_3, .handheld_input_3, .row_4, .handheld_row_4, .col_4, #landing form.login_or_register .new_user small, #landing #teaser, #views-agenda .entries .state, .handheld_col_4, .input_4, .handheld_input_4, .row_5, .handheld_row_5, .col_5, .handheld_col_5, .input_5, .handheld_input_5, .row_6, .handheld_row_6, .col_6, #views-navbar h1, .handheld_col_6, #landing #traits li .image, .input_6, .handheld_input_6, .row_7, .handheld_row_7, .col_7, .handheld_col_7, .input_7, .handheld_input_7, .row_8, .handheld_row_8, .col_8, .handheld_col_8, .input_8, .handheld_input_8, .row_9, .handheld_row_9, .col_9, .handheld_col_9, .input_9, .handheld_input_9, .row_10, .handheld_row_10, .col_10, .handheld_col_10, .input_10, .handheld_input_10, .row_11, .handheld_row_11, .col_11, .handheld_col_11, .input_11, .handheld_input_11, .row_12, .handheld_row_12, .col_12, .handheld_col_12, #landing header #logo .type, .input_12, .handheld_input_12, .row_13, .handheld_row_13, .col_13, .handheld_col_13, .input_13, .handheld_input_13, .row_14, .handheld_row_14, .col_14, .handheld_col_14, .input_14, .handheld_input_14, .row_15, .handheld_row_15, .col_15, .handheld_col_15, .input_15, .handheld_input_15, .row_16, footer nav, .handheld_row_16, .col_16, #views-navbar ul.nav, .handheld_col_16, .input_16, .handheld_input_16, .row_17, .handheld_row_17, .col_17, .handheld_col_17, .input_17, .handheld_input_17, .row_18, #views-agenda, #views-agenda .entries, .handheld_row_18, .col_18, #views-agenda .awsmbar, #views-agenda .entries .entry, #views-agenda .entries .fuzz, .handheld_col_18, #landing #traits li .copy, .input_18, .handheld_input_18, .row_19, .handheld_row_19, .col_19, .handheld_col_19, .input_19, .handheld_input_19, .row_20, .handheld_row_20, .col_20, .handheld_col_20, .input_20, .handheld_input_20, .row_21, .handheld_row_21, .col_21, .handheld_col_21, .input_21, .handheld_input_21, .row_22, .handheld_row_22, .col_22, .handheld_col_22, .input_22, .handheld_input_22, .row_23, .handheld_row_23, .col_23, .handheld_col_23, .input_23, .handheld_input_23, .row_24, #landing #traits ul, #views-navbar, .handheld_row_24, #landing #traits li, .col_24, .handheld_col_24, .input_24, .handheld_input_24, .tablet_row_1, .tablet_col_1, .tablet_input_1, .tablet_row_2, .tablet_col_2, .tablet_input_2, .tablet_row_3, .tablet_col_3, .tablet_input_3, .tablet_row_4, #landing form.login_or_register .submit, .tablet_col_4, #landing form.login_or_register .submit input, .tablet_input_4, .tablet_row_5, .tablet_col_5, .tablet_input_5, .tablet_row_6, #landing form.login_or_register .new_user, .tablet_col_6, #landing header #logo .symbol, .tablet_input_6, .tablet_row_7, .tablet_col_7, .tablet_input_7, .tablet_row_8, .tablet_col_8, .tablet_input_8, .tablet_row_9, #landing form.login_or_register .login, #landing form.login_or_register .pass, .tablet_col_9, .tablet_input_9, #landing form.login_or_register .login input, #landing form.login_or_register .pass input, .tablet_row_10, .tablet_col_10, .tablet_input_10, .tablet_row_11, .tablet_col_11, .tablet_input_11, .tablet_row_12, .tablet_col_12, .tablet_input_12, .tablet_row_13, .tablet_col_13, .tablet_input_13, .tablet_row_14, .tablet_col_14, .tablet_input_14, .tablet_row_15, .tablet_col_15, .tablet_input_15, .tablet_row_16, .tablet_col_16, .tablet_input_16, .tablet_row_17, .tablet_col_17, .tablet_input_17, .tablet_row_18, .tablet_col_18, .tablet_input_18, .tablet_row_19, .tablet_col_19, .tablet_input_19, .tablet_row_20, .tablet_col_20, .tablet_input_20, .tablet_row_21, .tablet_col_21, .tablet_input_21, .tablet_row_22, .tablet_col_22, .tablet_input_22, .tablet_row_23, .tablet_col_23, .tablet_input_23, .tablet_row_24, #landing .login_nav, #landing form.login_or_register, .tablet_col_24, .tablet_input_24, .screen_row_1, .screen_col_1, .screen_input_1, .screen_row_2, .screen_col_2, .screen_input_2, .screen_row_3, .screen_col_3, .screen_input_3, .screen_row_4, .screen_col_4, .screen_input_4, .screen_row_5, .screen_col_5, .screen_input_5, .screen_row_6, .screen_col_6, .screen_input_6, .screen_row_7, .screen_col_7, .screen_input_7, .screen_row_8, .screen_col_8, .screen_input_8, .screen_row_9, .screen_col_9, .screen_input_9, .screen_row_10, .screen_col_10, .screen_input_10, .screen_row_11, .screen_col_11, .screen_input_11, .screen_row_12, .screen_col_12, .screen_input_12, .screen_row_13, .screen_col_13, .screen_input_13, .screen_row_14, .screen_col_14, .screen_input_14, .screen_row_15, .screen_col_15, .screen_input_15, .screen_row_16, .screen_col_16, .screen_input_16, .screen_row_17, .screen_col_17, .screen_input_17, .screen_row_18, .screen_col_18, .screen_input_18, .screen_row_19, .screen_col_19, .screen_input_19, .screen_row_20, .screen_col_20, .screen_input_20, .screen_row_21, .screen_col_21, .screen_input_21, .screen_row_22, .screen_col_22, .screen_input_22, .screen_row_23, .screen_col_23, .screen_input_23, .screen_row_24, .screen_col_24, .screen_input_24, .huge_row_1, .huge_col_1, .huge_input_1, .huge_row_2, .huge_col_2, .huge_input_2, .huge_row_3, .huge_col_3, .huge_input_3, .huge_row_4, .huge_col_4, .huge_input_4, .huge_row_5, .huge_col_5, .huge_input_5, .huge_row_6, .huge_col_6, .huge_input_6, .huge_row_7, .huge_col_7, .huge_input_7, .huge_row_8, .huge_col_8, .huge_input_8, .huge_row_9, .huge_col_9, .huge_input_9, .huge_row_10, .huge_col_10, .huge_input_10, .huge_row_11, .huge_col_11, .huge_input_11, .huge_row_12, .huge_col_12, .huge_input_12, .huge_row_13, .huge_col_13, .huge_input_13, .huge_row_14, .huge_col_14, .huge_input_14, .huge_row_15, .huge_col_15, .huge_input_15, .huge_row_16, .huge_col_16, .huge_input_16, .huge_row_17, .huge_col_17, .huge_input_17, .huge_row_18, .huge_col_18, .huge_input_18, .huge_row_19, .huge_col_19, .huge_input_19, .huge_row_20, .huge_col_20, .huge_input_20, .huge_row_21, .huge_col_21, .huge_input_21, .huge_row_22, .huge_col_22, .huge_input_22, .huge_row_23, .huge_col_23, .huge_input_23, .huge_row_24, .huge_col_24, .huge_input_24 {
  float: left;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-aign: auto;
  *display: inline; }

.hidden {
  display: none; }

.cleared, .handheld_container, .container, #landing section, #landing header #logo, footer, #app, .tablet_container, .screen_container, .huge_container, #views-agenda .awsmbar ul.relevant, #views-agenda ul.suggested, #views-navbar ul.nav {
  *zoom: 1; }
  .cleared:before, .handheld_container:before, .container:before, #landing section:before, #landing header #logo:before, footer:before, #app:before, .tablet_container:before, .screen_container:before, .huge_container:before, #views-agenda .awsmbar ul.relevant:before, #views-agenda ul.suggested:before, #views-navbar ul.nav:before, .cleared:after, .handheld_container:after, .container:after, #landing section:after, #landing header #logo:after, footer:after, #app:after, .tablet_container:after, .screen_container:after, .huge_container:after, #views-agenda .awsmbar ul.relevant:after, #views-agenda ul.suggested:after, #views-navbar ul.nav:after {
    display: table;
    content: ""; }
  .cleared:after, .handheld_container:after, .container:after, #landing section:after, #landing header #logo:after, footer:after, #app:after, .tablet_container:after, .screen_container:after, .huge_container:after, #views-agenda .awsmbar ul.relevant:after, #views-agenda ul.suggested:after, #views-navbar ul.nav:after {
    clear: both; }

@media (max-width: 639px) {
  .handheld_container, .container, #landing section, #landing header #logo, footer, #app {
    width: 95%;
    padding: 2.5%;
    margin: 0 auto; }

  .gutter, .handheld_gutter, .col_1, .handheld_col_1, .input_1, .handheld_input_1, .col_2, .handheld_col_2, .input_2, .handheld_input_2, .col_3, .handheld_col_3, .input_3, .handheld_input_3, .col_4, #landing form.login_or_register .new_user small, #landing #teaser, #views-agenda .entries .state, .handheld_col_4, .input_4, .handheld_input_4, .col_5, .handheld_col_5, .input_5, .handheld_input_5, .col_6, #views-navbar h1, .handheld_col_6, #landing #traits li .image, .input_6, .handheld_input_6, .col_7, .handheld_col_7, .input_7, .handheld_input_7, .col_8, .handheld_col_8, .input_8, .handheld_input_8, .col_9, .handheld_col_9, .input_9, .handheld_input_9, .col_10, .handheld_col_10, .input_10, .handheld_input_10, .col_11, .handheld_col_11, .input_11, .handheld_input_11, .col_12, .handheld_col_12, #landing header #logo .type, .input_12, .handheld_input_12, .col_13, .handheld_col_13, .input_13, .handheld_input_13, .col_14, .handheld_col_14, .input_14, .handheld_input_14, .col_15, .handheld_col_15, .input_15, .handheld_input_15, .col_16, #views-navbar ul.nav, .handheld_col_16, .input_16, .handheld_input_16, .col_17, .handheld_col_17, .input_17, .handheld_input_17, .col_18, #views-agenda .awsmbar, #views-agenda .entries .entry, #views-agenda .entries .fuzz, .handheld_col_18, #landing #traits li .copy, .input_18, .handheld_input_18, .col_19, .handheld_col_19, .input_19, .handheld_input_19, .col_20, .handheld_col_20, .input_20, .handheld_input_20, .col_21, .handheld_col_21, .input_21, .handheld_input_21, .col_22, .handheld_col_22, .input_22, .handheld_input_22, .col_23, .handheld_col_23, .input_23, .handheld_input_23, .col_24, .handheld_col_24, .input_24, .handheld_input_24 {
    margin-left: 2.5%;
    margin-right: 2.5%; }

  .row_1, .handheld_row_1 {
    width: 4.167%; }

  .width_1, .handheld_width_1, .col_1, .handheld_col_1 {
    width: -0.833%; }

  .input_1, .handheld_input_1 {
    width: -11.042%; }

  .push_row_1, #landing form.login_or_register .login, .handheld_push_row_1 {
    margin-left: 3.958%; }

  .push_col_1, .handheld_push_col_1 {
    margin-left: 6.458%; }

  .row_2, .handheld_row_2 {
    width: 8.333%; }

  .width_2, .handheld_width_2, .col_2, .handheld_col_2 {
    width: 3.333%; }

  .input_2, .handheld_input_2 {
    width: -7.083%; }

  .push_row_2, #landing form.login_or_register .new_user, .handheld_push_row_2 {
    margin-left: 7.917%; }

  .push_col_2, .handheld_push_col_2 {
    margin-left: 10.417%; }

  .row_3, .handheld_row_3 {
    width: 12.5%; }

  .width_3, .handheld_width_3, .col_3, .handheld_col_3 {
    width: 7.5%; }

  .input_3, .handheld_input_3 {
    width: -3.125%; }

  .push_row_3, .handheld_push_row_3 {
    margin-left: 11.875%; }

  .push_col_3, .handheld_push_col_3 {
    margin-left: 14.375%; }

  .row_4, .handheld_row_4 {
    width: 16.667%; }

  .width_4, .handheld_width_4, .col_4, #landing form.login_or_register .new_user small, #landing #teaser, #views-agenda .entries .state, .handheld_col_4 {
    width: 11.667%; }

  .input_4, .handheld_input_4 {
    width: 0.833%; }

  .push_row_4, footer nav, .handheld_push_row_4 {
    margin-left: 15.833%; }

  .push_col_4, .handheld_push_col_4 {
    margin-left: 18.333%; }

  .row_5, .handheld_row_5 {
    width: 20.833%; }

  .width_5, .handheld_width_5, .col_5, .handheld_col_5 {
    width: 15.833%; }

  .input_5, .handheld_input_5 {
    width: 4.792%; }

  .push_row_5, .handheld_push_row_5 {
    margin-left: 19.792%; }

  .push_col_5, .handheld_push_col_5 {
    margin-left: 22.292%; }

  .row_6, .handheld_row_6 {
    width: 25%; }

  .width_6, .handheld_width_6, .col_6, #views-navbar h1, .handheld_col_6, #landing #traits li .image {
    width: 20%; }

  .input_6, .handheld_input_6 {
    width: 8.75%; }

  .push_row_6, .handheld_push_row_6 {
    margin-left: 23.75%; }

  .push_col_6, .handheld_push_col_6 {
    margin-left: 26.25%; }

  .row_7, .handheld_row_7 {
    width: 29.167%; }

  .width_7, .handheld_width_7, .col_7, .handheld_col_7 {
    width: 24.167%; }

  .input_7, .handheld_input_7 {
    width: 12.708%; }

  .push_row_7, .handheld_push_row_7 {
    margin-left: 27.708%; }

  .push_col_7, .handheld_push_col_7 {
    margin-left: 30.208%; }

  .row_8, .handheld_row_8 {
    width: 33.333%; }

  .width_8, .handheld_width_8, .col_8, .handheld_col_8 {
    width: 28.333%; }

  .input_8, .handheld_input_8 {
    width: 16.667%; }

  .push_row_8, .handheld_push_row_8 {
    margin-left: 31.667%; }

  .push_col_8, .handheld_push_col_8 {
    margin-left: 34.167%; }

  .row_9, .handheld_row_9 {
    width: 37.5%; }

  .width_9, .handheld_width_9, .col_9, .handheld_col_9 {
    width: 32.5%; }

  .input_9, .handheld_input_9 {
    width: 20.625%; }

  .push_row_9, .handheld_push_row_9 {
    margin-left: 35.625%; }

  .push_col_9, .handheld_push_col_9 {
    margin-left: 38.125%; }

  .row_10, .handheld_row_10 {
    width: 41.667%; }

  .width_10, .handheld_width_10, .col_10, .handheld_col_10 {
    width: 36.667%; }

  .input_10, .handheld_input_10 {
    width: 24.583%; }

  .push_row_10, .handheld_push_row_10 {
    margin-left: 39.583%; }

  .push_col_10, .handheld_push_col_10 {
    margin-left: 42.083%; }

  .row_11, .handheld_row_11 {
    width: 45.833%; }

  .width_11, .handheld_width_11, .col_11, .handheld_col_11 {
    width: 40.833%; }

  .input_11, .handheld_input_11 {
    width: 28.542%; }

  .push_row_11, .handheld_push_row_11 {
    margin-left: 43.542%; }

  .push_col_11, .handheld_push_col_11 {
    margin-left: 46.042%; }

  .row_12, .handheld_row_12 {
    width: 50%; }

  .width_12, .handheld_width_12, .col_12, .handheld_col_12, #landing header #logo .type {
    width: 45%; }

  .input_12, .handheld_input_12 {
    width: 32.5%; }

  .push_row_12, .handheld_push_row_12 {
    margin-left: 47.5%; }

  .push_col_12, .handheld_push_col_12 {
    margin-left: 50%; }

  .row_13, .handheld_row_13 {
    width: 54.167%; }

  .width_13, .handheld_width_13, .col_13, .handheld_col_13 {
    width: 49.167%; }

  .input_13, .handheld_input_13 {
    width: 36.458%; }

  .push_row_13, .handheld_push_row_13 {
    margin-left: 51.458%; }

  .push_col_13, .handheld_push_col_13 {
    margin-left: 53.958%; }

  .row_14, .handheld_row_14 {
    width: 58.333%; }

  .width_14, .handheld_width_14, .col_14, .handheld_col_14 {
    width: 53.333%; }

  .input_14, .handheld_input_14 {
    width: 40.417%; }

  .push_row_14, .handheld_push_row_14 {
    margin-left: 55.417%; }

  .push_col_14, .handheld_push_col_14 {
    margin-left: 57.917%; }

  .row_15, .handheld_row_15 {
    width: 62.5%; }

  .width_15, .handheld_width_15, .col_15, .handheld_col_15 {
    width: 57.5%; }

  .input_15, .handheld_input_15 {
    width: 44.375%; }

  .push_row_15, .handheld_push_row_15 {
    margin-left: 59.375%; }

  .push_col_15, .handheld_push_col_15 {
    margin-left: 61.875%; }

  .row_16, footer nav, .handheld_row_16 {
    width: 66.667%; }

  .width_16, .handheld_width_16, .col_16, #views-navbar ul.nav, .handheld_col_16 {
    width: 61.667%; }

  .input_16, .handheld_input_16 {
    width: 48.333%; }

  .push_row_16, .handheld_push_row_16 {
    margin-left: 63.333%; }

  .push_col_16, .handheld_push_col_16 {
    margin-left: 65.833%; }

  .row_17, .handheld_row_17 {
    width: 70.833%; }

  .width_17, .handheld_width_17, .col_17, .handheld_col_17 {
    width: 65.833%; }

  .input_17, .handheld_input_17 {
    width: 52.292%; }

  .push_row_17, .handheld_push_row_17 {
    margin-left: 67.292%; }

  .push_col_17, .handheld_push_col_17 {
    margin-left: 69.792%; }

  .row_18, #views-agenda, #views-agenda .entries, .handheld_row_18 {
    width: 75%; }

  .width_18, .handheld_width_18, .col_18, #views-agenda .awsmbar, #views-agenda .entries .entry, #views-agenda .entries .fuzz, .handheld_col_18, #landing #traits li .copy {
    width: 70%; }

  .input_18, .handheld_input_18 {
    width: 56.25%; }

  .push_row_18, .handheld_push_row_18 {
    margin-left: 71.25%; }

  .push_col_18, .handheld_push_col_18 {
    margin-left: 73.75%; }

  .row_19, .handheld_row_19 {
    width: 79.167%; }

  .width_19, .handheld_width_19, .col_19, .handheld_col_19 {
    width: 74.167%; }

  .input_19, .handheld_input_19 {
    width: 60.208%; }

  .push_row_19, .handheld_push_row_19 {
    margin-left: 75.208%; }

  .push_col_19, .handheld_push_col_19 {
    margin-left: 77.708%; }

  .row_20, .handheld_row_20 {
    width: 83.333%; }

  .width_20, .handheld_width_20, .col_20, .handheld_col_20 {
    width: 78.333%; }

  .input_20, .handheld_input_20 {
    width: 64.167%; }

  .push_row_20, .handheld_push_row_20 {
    margin-left: 79.167%; }

  .push_col_20, .handheld_push_col_20 {
    margin-left: 81.667%; }

  .row_21, .handheld_row_21 {
    width: 87.5%; }

  .width_21, .handheld_width_21, .col_21, .handheld_col_21 {
    width: 82.5%; }

  .input_21, .handheld_input_21 {
    width: 68.125%; }

  .push_row_21, .handheld_push_row_21 {
    margin-left: 83.125%; }

  .push_col_21, .handheld_push_col_21 {
    margin-left: 85.625%; }

  .row_22, .handheld_row_22 {
    width: 91.667%; }

  .width_22, .handheld_width_22, .col_22, .handheld_col_22 {
    width: 86.667%; }

  .input_22, .handheld_input_22 {
    width: 72.083%; }

  .push_row_22, .handheld_push_row_22 {
    margin-left: 87.083%; }

  .push_col_22, .handheld_push_col_22 {
    margin-left: 89.583%; }

  .row_23, .handheld_row_23 {
    width: 95.833%; }

  .width_23, .handheld_width_23, .col_23, .handheld_col_23 {
    width: 90.833%; }

  .input_23, .handheld_input_23 {
    width: 76.042%; }

  .push_row_23, .handheld_push_row_23 {
    margin-left: 91.042%; }

  .push_col_23, .handheld_push_col_23 {
    margin-left: 93.542%; }

  .row_24, #landing #traits ul, #views-navbar, .handheld_row_24, #landing #traits li, #views-agenda, #views-agenda .entries {
    width: 100%; }

  .width_24, .handheld_width_24, .col_24, .handheld_col_24, #views-agenda .awsmbar, #views-agenda .entries .entry, #views-agenda .entries .fuzz, #views-navbar h1 {
    width: 95%; }

  .input_24, .handheld_input_24 {
    width: 80%; }

  .push_row_24, .handheld_push_row_24 {
    margin-left: 95%; }

  .push_col_24, .handheld_push_col_24 {
    margin-left: 97.5%; }

  .handheld_hidden, #landing header #logo .symbol, #landing header #logo h2, #landing #top_form, #landing #bottom_form, #views-navbar ul.nav {
    display: none; } }
@media (min-width: 640px) and (max-width: 979px) {
  .tablet_container, .container, #landing section, #landing header #logo, footer, #app {
    width: 600px;
    padding: 10px;
    margin: 0 auto; }

  .gutter, .tablet_gutter, .col_1, .tablet_col_1, .input_1, .tablet_input_1, .col_2, .tablet_col_2, .input_2, .tablet_input_2, .col_3, .tablet_col_3, .input_3, .tablet_input_3, .col_4, #landing form.login_or_register .new_user small, #landing #teaser, #views-agenda .entries .state, .tablet_col_4, #landing form.login_or_register .submit input, .input_4, .tablet_input_4, .col_5, .tablet_col_5, .input_5, .tablet_input_5, .col_6, #views-navbar h1, .tablet_col_6, #landing header #logo .symbol, .input_6, .tablet_input_6, .col_7, .tablet_col_7, .input_7, .tablet_input_7, .col_8, .tablet_col_8, .input_8, .tablet_input_8, .col_9, .tablet_col_9, .input_9, .tablet_input_9, #landing form.login_or_register .login input, #landing form.login_or_register .pass input, .col_10, .tablet_col_10, .input_10, .tablet_input_10, .col_11, .tablet_col_11, .input_11, .tablet_input_11, .col_12, .tablet_col_12, #landing #traits li .copy, .input_12, .tablet_input_12, .col_13, .tablet_col_13, .input_13, .tablet_input_13, .col_14, .tablet_col_14, .input_14, .tablet_input_14, .col_15, .tablet_col_15, .input_15, .tablet_input_15, .col_16, #views-navbar ul.nav, .tablet_col_16, .input_16, .tablet_input_16, .col_17, .tablet_col_17, .input_17, .tablet_input_17, .col_18, #views-agenda .awsmbar, #views-agenda .entries .entry, #views-agenda .entries .fuzz, .tablet_col_18, #landing header #logo .type, .input_18, .tablet_input_18, .col_19, .tablet_col_19, .input_19, .tablet_input_19, .col_20, .tablet_col_20, .input_20, .tablet_input_20, .col_21, .tablet_col_21, .input_21, .tablet_input_21, .col_22, .tablet_col_22, .input_22, .tablet_input_22, .col_23, .tablet_col_23, .input_23, .tablet_input_23, .col_24, .tablet_col_24, .input_24, .tablet_input_24 {
    margin-left: 10px;
    margin-right: 10px; }

  .row_1, .tablet_row_1 {
    width: 25px; }

  .width_1, .tablet_width_1, .col_1, .tablet_col_1 {
    width: 5px; }

  .input_1, .tablet_input_1 {
    width: -5px; }

  .push_row_1, #landing form.login_or_register .login, .tablet_push_row_1 {
    margin-left: 25px; }

  .push_col_1, .tablet_push_col_1 {
    margin-left: 35px; }

  .row_2, .tablet_row_2 {
    width: 50px; }

  .width_2, .tablet_width_2, .col_2, .tablet_col_2 {
    width: 30px; }

  .input_2, .tablet_input_2 {
    width: 20px; }

  .push_row_2, #landing form.login_or_register .new_user, .tablet_push_row_2 {
    margin-left: 50px; }

  .push_col_2, .tablet_push_col_2 {
    margin-left: 60px; }

  .row_3, .tablet_row_3 {
    width: 75px; }

  .width_3, .tablet_width_3, .col_3, .tablet_col_3 {
    width: 55px; }

  .input_3, .tablet_input_3 {
    width: 45px; }

  .push_row_3, .tablet_push_row_3 {
    margin-left: 75px; }

  .push_col_3, .tablet_push_col_3 {
    margin-left: 85px; }

  .row_4, .tablet_row_4, #landing form.login_or_register .submit {
    width: 100px; }

  .width_4, .tablet_width_4, .col_4, #landing form.login_or_register .new_user small, #landing #teaser, #views-agenda .entries .state, .tablet_col_4, #landing form.login_or_register .submit input {
    width: 80px; }

  .input_4, .tablet_input_4 {
    width: 70px; }

  .push_row_4, footer nav, .tablet_push_row_4 {
    margin-left: 100px; }

  .push_col_4, .tablet_push_col_4 {
    margin-left: 110px; }

  .row_5, .tablet_row_5 {
    width: 125px; }

  .width_5, .tablet_width_5, .col_5, .tablet_col_5 {
    width: 105px; }

  .input_5, .tablet_input_5 {
    width: 95px; }

  .push_row_5, .tablet_push_row_5 {
    margin-left: 125px; }

  .push_col_5, .tablet_push_col_5 {
    margin-left: 135px; }

  .row_6, .tablet_row_6, #landing #traits li .image, #landing form.login_or_register .new_user {
    width: 150px; }

  .width_6, .tablet_width_6, .col_6, #views-navbar h1, .tablet_col_6, #landing header #logo .symbol {
    width: 130px; }

  .input_6, .tablet_input_6 {
    width: 120px; }

  .push_row_6, .tablet_push_row_6 {
    margin-left: 150px; }

  .push_col_6, .tablet_push_col_6 {
    margin-left: 160px; }

  .row_7, .tablet_row_7 {
    width: 175px; }

  .width_7, .tablet_width_7, .col_7, .tablet_col_7 {
    width: 155px; }

  .input_7, .tablet_input_7 {
    width: 145px; }

  .push_row_7, .tablet_push_row_7 {
    margin-left: 175px; }

  .push_col_7, .tablet_push_col_7 {
    margin-left: 185px; }

  .row_8, .tablet_row_8 {
    width: 200px; }

  .width_8, .tablet_width_8, .col_8, .tablet_col_8 {
    width: 180px; }

  .input_8, .tablet_input_8 {
    width: 170px; }

  .push_row_8, .tablet_push_row_8 {
    margin-left: 200px; }

  .push_col_8, .tablet_push_col_8 {
    margin-left: 210px; }

  .row_9, .tablet_row_9, #landing form.login_or_register .login, #landing form.login_or_register .pass {
    width: 225px; }

  .width_9, .tablet_width_9, .col_9, .tablet_col_9 {
    width: 205px; }

  .input_9, .tablet_input_9, #landing form.login_or_register .login input, #landing form.login_or_register .pass input {
    width: 195px; }

  .push_row_9, .tablet_push_row_9 {
    margin-left: 225px; }

  .push_col_9, .tablet_push_col_9 {
    margin-left: 235px; }

  .row_10, .tablet_row_10 {
    width: 250px; }

  .width_10, .tablet_width_10, .col_10, .tablet_col_10 {
    width: 230px; }

  .input_10, .tablet_input_10 {
    width: 220px; }

  .push_row_10, .tablet_push_row_10 {
    margin-left: 250px; }

  .push_col_10, .tablet_push_col_10 {
    margin-left: 260px; }

  .row_11, .tablet_row_11 {
    width: 275px; }

  .width_11, .tablet_width_11, .col_11, .tablet_col_11 {
    width: 255px; }

  .input_11, .tablet_input_11 {
    width: 245px; }

  .push_row_11, .tablet_push_row_11 {
    margin-left: 275px; }

  .push_col_11, .tablet_push_col_11 {
    margin-left: 285px; }

  .row_12, .tablet_row_12, #landing #traits li {
    width: 300px; }

  .width_12, .tablet_width_12, .col_12, .tablet_col_12, #landing #traits li .copy {
    width: 280px; }

  .input_12, .tablet_input_12 {
    width: 270px; }

  .push_row_12, .tablet_push_row_12 {
    margin-left: 300px; }

  .push_col_12, .tablet_push_col_12 {
    margin-left: 310px; }

  .row_13, .tablet_row_13 {
    width: 325px; }

  .width_13, .tablet_width_13, .col_13, .tablet_col_13 {
    width: 305px; }

  .input_13, .tablet_input_13 {
    width: 295px; }

  .push_row_13, .tablet_push_row_13 {
    margin-left: 325px; }

  .push_col_13, .tablet_push_col_13 {
    margin-left: 335px; }

  .row_14, .tablet_row_14 {
    width: 350px; }

  .width_14, .tablet_width_14, .col_14, .tablet_col_14 {
    width: 330px; }

  .input_14, .tablet_input_14 {
    width: 320px; }

  .push_row_14, .tablet_push_row_14 {
    margin-left: 350px; }

  .push_col_14, .tablet_push_col_14 {
    margin-left: 360px; }

  .row_15, .tablet_row_15 {
    width: 375px; }

  .width_15, .tablet_width_15, .col_15, .tablet_col_15 {
    width: 355px; }

  .input_15, .tablet_input_15 {
    width: 345px; }

  .push_row_15, .tablet_push_row_15 {
    margin-left: 375px; }

  .push_col_15, .tablet_push_col_15 {
    margin-left: 385px; }

  .row_16, footer nav, .tablet_row_16 {
    width: 400px; }

  .width_16, .tablet_width_16, .col_16, #views-navbar ul.nav, .tablet_col_16 {
    width: 380px; }

  .input_16, .tablet_input_16 {
    width: 370px; }

  .push_row_16, .tablet_push_row_16 {
    margin-left: 400px; }

  .push_col_16, .tablet_push_col_16 {
    margin-left: 410px; }

  .row_17, .tablet_row_17 {
    width: 425px; }

  .width_17, .tablet_width_17, .col_17, .tablet_col_17 {
    width: 405px; }

  .input_17, .tablet_input_17 {
    width: 395px; }

  .push_row_17, .tablet_push_row_17 {
    margin-left: 425px; }

  .push_col_17, .tablet_push_col_17 {
    margin-left: 435px; }

  .row_18, #views-agenda, #views-agenda .entries, .tablet_row_18 {
    width: 450px; }

  .width_18, .tablet_width_18, .col_18, #views-agenda .awsmbar, #views-agenda .entries .entry, #views-agenda .entries .fuzz, .tablet_col_18, #landing header #logo .type {
    width: 430px; }

  .input_18, .tablet_input_18 {
    width: 420px; }

  .push_row_18, .tablet_push_row_18 {
    margin-left: 450px; }

  .push_col_18, .tablet_push_col_18 {
    margin-left: 460px; }

  .row_19, .tablet_row_19 {
    width: 475px; }

  .width_19, .tablet_width_19, .col_19, .tablet_col_19 {
    width: 455px; }

  .input_19, .tablet_input_19 {
    width: 445px; }

  .push_row_19, .tablet_push_row_19 {
    margin-left: 475px; }

  .push_col_19, .tablet_push_col_19 {
    margin-left: 485px; }

  .row_20, .tablet_row_20 {
    width: 500px; }

  .width_20, .tablet_width_20, .col_20, .tablet_col_20 {
    width: 480px; }

  .input_20, .tablet_input_20 {
    width: 470px; }

  .push_row_20, .tablet_push_row_20 {
    margin-left: 500px; }

  .push_col_20, .tablet_push_col_20 {
    margin-left: 510px; }

  .row_21, .tablet_row_21 {
    width: 525px; }

  .width_21, .tablet_width_21, .col_21, .tablet_col_21 {
    width: 505px; }

  .input_21, .tablet_input_21 {
    width: 495px; }

  .push_row_21, .tablet_push_row_21 {
    margin-left: 525px; }

  .push_col_21, .tablet_push_col_21 {
    margin-left: 535px; }

  .row_22, .tablet_row_22 {
    width: 550px; }

  .width_22, .tablet_width_22, .col_22, .tablet_col_22 {
    width: 530px; }

  .input_22, .tablet_input_22 {
    width: 520px; }

  .push_row_22, .tablet_push_row_22 {
    margin-left: 550px; }

  .push_col_22, .tablet_push_col_22 {
    margin-left: 560px; }

  .row_23, .tablet_row_23 {
    width: 575px; }

  .width_23, .tablet_width_23, .col_23, .tablet_col_23 {
    width: 555px; }

  .input_23, .tablet_input_23 {
    width: 545px; }

  .push_row_23, .tablet_push_row_23 {
    margin-left: 575px; }

  .push_col_23, .tablet_push_col_23 {
    margin-left: 585px; }

  .row_24, #landing #traits ul, #views-navbar, .tablet_row_24, #landing .login_nav, #landing form.login_or_register, #views-agenda, #views-agenda .entries {
    width: 600px; }

  .width_24, .tablet_width_24, .col_24, .tablet_col_24, #views-agenda .awsmbar, #views-agenda .entries .entry, #views-agenda .entries .fuzz, #views-navbar h1 {
    width: 580px; }

  .input_24, .tablet_input_24 {
    width: 570px; }

  .push_row_24, .tablet_push_row_24 {
    margin-left: 600px; }

  .push_col_24, .tablet_push_col_24 {
    margin-left: 610px; }

  .tablet_hidden, #landing #bottom_form, #views-navbar ul.nav {
    display: none; } }
@media (min-width: 980px) and (max-width: 1199px) {
  .screen_container, .container, #landing section, #landing header #logo, footer, #app {
    width: 750px;
    padding: 15px;
    margin: 0 auto; }

  .gutter, .screen_gutter, .col_1, .screen_col_1, .input_1, .screen_input_1, .col_2, .screen_col_2, .input_2, .screen_input_2, .col_3, .screen_col_3, .input_3, .screen_input_3, .col_4, #landing form.login_or_register .new_user small, #landing #teaser, #views-agenda .entries .state, .screen_col_4, #landing form.login_or_register .submit input, .input_4, .screen_input_4, .col_5, .screen_col_5, .input_5, .screen_input_5, #landing form.login_or_register .login input, #landing form.login_or_register .pass input, .col_6, #views-navbar h1, .screen_col_6, #landing #traits li .copy, #landing header #logo .symbol, .input_6, .screen_input_6, .col_7, .screen_col_7, .input_7, .screen_input_7, .col_8, .screen_col_8, .input_8, .screen_input_8, .col_9, .screen_col_9, .input_9, .screen_input_9, .col_10, .screen_col_10, .input_10, .screen_input_10, .col_11, .screen_col_11, .input_11, .screen_input_11, .col_12, .screen_col_12, .input_12, .screen_input_12, .col_13, .screen_col_13, .input_13, .screen_input_13, .col_14, .screen_col_14, .input_14, .screen_input_14, .col_15, .screen_col_15, .input_15, .screen_input_15, .col_16, #views-navbar ul.nav, .screen_col_16, .input_16, .screen_input_16, .col_17, .screen_col_17, .input_17, .screen_input_17, .col_18, #views-agenda .awsmbar, #views-agenda .entries .entry, #views-agenda .entries .fuzz, .screen_col_18, #landing header #logo .type, .input_18, .screen_input_18, .col_19, .screen_col_19, .input_19, .screen_input_19, .col_20, .screen_col_20, .input_20, .screen_input_20, .col_21, .screen_col_21, .input_21, .screen_input_21, .col_22, .screen_col_22, .input_22, .screen_input_22, .col_23, .screen_col_23, .input_23, .screen_input_23, .col_24, .screen_col_24, .input_24, .screen_input_24 {
    margin-left: 15px;
    margin-right: 15px; }

  .row_1, .screen_row_1 {
    width: 31.25px; }

  .width_1, .screen_width_1, .col_1, .screen_col_1 {
    width: 1.25px; }

  .input_1, .screen_input_1 {
    width: -8.75px; }

  .push_row_1, #landing form.login_or_register .login, .screen_push_row_1 {
    margin-left: 31.25px; }

  .push_col_1, .screen_push_col_1 {
    margin-left: 46.25px; }

  .row_2, .screen_row_2 {
    width: 62.5px; }

  .width_2, .screen_width_2, .col_2, .screen_col_2 {
    width: 32.5px; }

  .input_2, .screen_input_2 {
    width: 22.5px; }

  .push_row_2, #landing form.login_or_register .new_user, .screen_push_row_2 {
    margin-left: 62.5px; }

  .push_col_2, .screen_push_col_2 {
    margin-left: 77.5px; }

  .row_3, .screen_row_3 {
    width: 93.75px; }

  .width_3, .screen_width_3, .col_3, .screen_col_3 {
    width: 63.75px; }

  .input_3, .screen_input_3 {
    width: 53.75px; }

  .push_row_3, .screen_push_row_3 {
    margin-left: 93.75px; }

  .push_col_3, .screen_push_col_3 {
    margin-left: 108.75px; }

  .row_4, .screen_row_4, #landing form.login_or_register .submit, #landing form.login_or_register .new_user {
    width: 125px; }

  .width_4, .screen_width_4, .col_4, #landing form.login_or_register .new_user small, #landing #teaser, #views-agenda .entries .state, .screen_col_4, #landing form.login_or_register .submit input {
    width: 95px; }

  .input_4, .screen_input_4 {
    width: 85px; }

  .push_row_4, footer nav, .screen_push_row_4, #landing .login_nav, #landing form.login_or_register {
    margin-left: 125px; }

  .push_col_4, .screen_push_col_4 {
    margin-left: 140px; }

  .row_5, .screen_row_5, #landing form.login_or_register .login, #landing form.login_or_register .pass {
    width: 156.25px; }

  .width_5, .screen_width_5, .col_5, .screen_col_5 {
    width: 126.25px; }

  .input_5, .screen_input_5, #landing form.login_or_register .login input, #landing form.login_or_register .pass input {
    width: 116.25px; }

  .push_row_5, .screen_push_row_5 {
    margin-left: 156.25px; }

  .push_col_5, .screen_push_col_5 {
    margin-left: 171.25px; }

  .row_6, .screen_row_6, #landing #traits li, #landing #traits li .image {
    width: 187.5px; }

  .width_6, .screen_width_6, .col_6, #views-navbar h1, .screen_col_6, #landing #traits li .copy, #landing header #logo .symbol {
    width: 157.5px; }

  .input_6, .screen_input_6 {
    width: 147.5px; }

  .push_row_6, .screen_push_row_6 {
    margin-left: 187.5px; }

  .push_col_6, .screen_push_col_6 {
    margin-left: 202.5px; }

  .row_7, .screen_row_7 {
    width: 218.75px; }

  .width_7, .screen_width_7, .col_7, .screen_col_7 {
    width: 188.75px; }

  .input_7, .screen_input_7 {
    width: 178.75px; }

  .push_row_7, .screen_push_row_7 {
    margin-left: 218.75px; }

  .push_col_7, .screen_push_col_7 {
    margin-left: 233.75px; }

  .row_8, .screen_row_8 {
    width: 250px; }

  .width_8, .screen_width_8, .col_8, .screen_col_8 {
    width: 220px; }

  .input_8, .screen_input_8 {
    width: 210px; }

  .push_row_8, .screen_push_row_8 {
    margin-left: 250px; }

  .push_col_8, .screen_push_col_8 {
    margin-left: 265px; }

  .row_9, .screen_row_9 {
    width: 281.25px; }

  .width_9, .screen_width_9, .col_9, .screen_col_9 {
    width: 251.25px; }

  .input_9, .screen_input_9 {
    width: 241.25px; }

  .push_row_9, .screen_push_row_9 {
    margin-left: 281.25px; }

  .push_col_9, .screen_push_col_9 {
    margin-left: 296.25px; }

  .row_10, .screen_row_10 {
    width: 312.5px; }

  .width_10, .screen_width_10, .col_10, .screen_col_10 {
    width: 282.5px; }

  .input_10, .screen_input_10 {
    width: 272.5px; }

  .push_row_10, .screen_push_row_10 {
    margin-left: 312.5px; }

  .push_col_10, .screen_push_col_10 {
    margin-left: 327.5px; }

  .row_11, .screen_row_11 {
    width: 343.75px; }

  .width_11, .screen_width_11, .col_11, .screen_col_11 {
    width: 313.75px; }

  .input_11, .screen_input_11 {
    width: 303.75px; }

  .push_row_11, .screen_push_row_11 {
    margin-left: 343.75px; }

  .push_col_11, .screen_push_col_11 {
    margin-left: 358.75px; }

  .row_12, .screen_row_12 {
    width: 375px; }

  .width_12, .screen_width_12, .col_12, .screen_col_12 {
    width: 345px; }

  .input_12, .screen_input_12 {
    width: 335px; }

  .push_row_12, .screen_push_row_12 {
    margin-left: 375px; }

  .push_col_12, .screen_push_col_12 {
    margin-left: 390px; }

  .row_13, .screen_row_13 {
    width: 406.25px; }

  .width_13, .screen_width_13, .col_13, .screen_col_13 {
    width: 376.25px; }

  .input_13, .screen_input_13 {
    width: 366.25px; }

  .push_row_13, .screen_push_row_13 {
    margin-left: 406.25px; }

  .push_col_13, .screen_push_col_13 {
    margin-left: 421.25px; }

  .row_14, .screen_row_14 {
    width: 437.5px; }

  .width_14, .screen_width_14, .col_14, .screen_col_14 {
    width: 407.5px; }

  .input_14, .screen_input_14 {
    width: 397.5px; }

  .push_row_14, .screen_push_row_14 {
    margin-left: 437.5px; }

  .push_col_14, .screen_push_col_14 {
    margin-left: 452.5px; }

  .row_15, .screen_row_15 {
    width: 468.75px; }

  .width_15, .screen_width_15, .col_15, .screen_col_15 {
    width: 438.75px; }

  .input_15, .screen_input_15 {
    width: 428.75px; }

  .push_row_15, .screen_push_row_15 {
    margin-left: 468.75px; }

  .push_col_15, .screen_push_col_15 {
    margin-left: 483.75px; }

  .row_16, footer nav, .screen_row_16, #landing .login_nav, #landing form.login_or_register {
    width: 500px; }

  .width_16, .screen_width_16, .col_16, #views-navbar ul.nav, .screen_col_16 {
    width: 470px; }

  .input_16, .screen_input_16 {
    width: 460px; }

  .push_row_16, .screen_push_row_16 {
    margin-left: 500px; }

  .push_col_16, .screen_push_col_16 {
    margin-left: 515px; }

  .row_17, .screen_row_17 {
    width: 531.25px; }

  .width_17, .screen_width_17, .col_17, .screen_col_17 {
    width: 501.25px; }

  .input_17, .screen_input_17 {
    width: 491.25px; }

  .push_row_17, .screen_push_row_17 {
    margin-left: 531.25px; }

  .push_col_17, .screen_push_col_17 {
    margin-left: 546.25px; }

  .row_18, #views-agenda, #views-agenda .entries, .screen_row_18 {
    width: 562.5px; }

  .width_18, .screen_width_18, .col_18, #views-agenda .awsmbar, #views-agenda .entries .entry, #views-agenda .entries .fuzz, .screen_col_18, #landing header #logo .type {
    width: 532.5px; }

  .input_18, .screen_input_18 {
    width: 522.5px; }

  .push_row_18, .screen_push_row_18 {
    margin-left: 562.5px; }

  .push_col_18, .screen_push_col_18 {
    margin-left: 577.5px; }

  .row_19, .screen_row_19 {
    width: 593.75px; }

  .width_19, .screen_width_19, .col_19, .screen_col_19 {
    width: 563.75px; }

  .input_19, .screen_input_19 {
    width: 553.75px; }

  .push_row_19, .screen_push_row_19 {
    margin-left: 593.75px; }

  .push_col_19, .screen_push_col_19 {
    margin-left: 608.75px; }

  .row_20, .screen_row_20 {
    width: 625px; }

  .width_20, .screen_width_20, .col_20, .screen_col_20 {
    width: 595px; }

  .input_20, .screen_input_20 {
    width: 585px; }

  .push_row_20, .screen_push_row_20 {
    margin-left: 625px; }

  .push_col_20, .screen_push_col_20 {
    margin-left: 640px; }

  .row_21, .screen_row_21 {
    width: 656.25px; }

  .width_21, .screen_width_21, .col_21, .screen_col_21 {
    width: 626.25px; }

  .input_21, .screen_input_21 {
    width: 616.25px; }

  .push_row_21, .screen_push_row_21 {
    margin-left: 656.25px; }

  .push_col_21, .screen_push_col_21 {
    margin-left: 671.25px; }

  .row_22, .screen_row_22 {
    width: 687.5px; }

  .width_22, .screen_width_22, .col_22, .screen_col_22 {
    width: 657.5px; }

  .input_22, .screen_input_22 {
    width: 647.5px; }

  .push_row_22, .screen_push_row_22 {
    margin-left: 687.5px; }

  .push_col_22, .screen_push_col_22 {
    margin-left: 702.5px; }

  .row_23, .screen_row_23 {
    width: 718.75px; }

  .width_23, .screen_width_23, .col_23, .screen_col_23 {
    width: 688.75px; }

  .input_23, .screen_input_23 {
    width: 678.75px; }

  .push_row_23, .screen_push_row_23 {
    margin-left: 718.75px; }

  .push_col_23, .screen_push_col_23 {
    margin-left: 733.75px; }

  .row_24, #landing #traits ul, #views-navbar, .screen_row_24 {
    width: 750px; }

  .width_24, .screen_width_24, .col_24, .screen_col_24 {
    width: 720px; }

  .input_24, .screen_input_24 {
    width: 710px; }

  .push_row_24, .screen_push_row_24 {
    margin-left: 750px; }

  .push_col_24, .screen_push_col_24 {
    margin-left: 765px; }

  .screen_hidden, #landing #top_form {
    display: none; } }
@media (min-width: 1200px) {
  .huge_container, .container, #landing section, #landing header #logo, footer, #app {
    width: 920px;
    padding: 20px;
    margin: 0 auto; }

  .gutter, .huge_gutter, .col_1, .huge_col_1, .input_1, .huge_input_1, .col_2, .huge_col_2, .input_2, .huge_input_2, .col_3, .huge_col_3, .input_3, .huge_input_3, .col_4, #landing form.login_or_register .new_user small, #landing #teaser, #views-agenda .entries .state, .huge_col_4, #landing form.login_or_register .submit input, .input_4, .huge_input_4, .col_5, .huge_col_5, .input_5, .huge_input_5, #landing form.login_or_register .login input, #landing form.login_or_register .pass input, .col_6, #views-navbar h1, .huge_col_6, #landing #traits li .copy, .input_6, .huge_input_6, .col_7, .huge_col_7, .input_7, .huge_input_7, .col_8, .huge_col_8, #landing header #logo .symbol, .input_8, .huge_input_8, .col_9, .huge_col_9, .input_9, .huge_input_9, .col_10, .huge_col_10, .input_10, .huge_input_10, .col_11, .huge_col_11, .input_11, .huge_input_11, .col_12, .huge_col_12, #landing header #logo .type, .input_12, .huge_input_12, .col_13, .huge_col_13, .input_13, .huge_input_13, .col_14, .huge_col_14, .input_14, .huge_input_14, .col_15, .huge_col_15, .input_15, .huge_input_15, .col_16, #views-navbar ul.nav, .huge_col_16, .input_16, .huge_input_16, .col_17, .huge_col_17, .input_17, .huge_input_17, .col_18, #views-agenda .awsmbar, #views-agenda .entries .entry, #views-agenda .entries .fuzz, .huge_col_18, .input_18, .huge_input_18, .col_19, .huge_col_19, .input_19, .huge_input_19, .col_20, .huge_col_20, .input_20, .huge_input_20, .col_21, .huge_col_21, .input_21, .huge_input_21, .col_22, .huge_col_22, .input_22, .huge_input_22, .col_23, .huge_col_23, .input_23, .huge_input_23, .col_24, .huge_col_24, .input_24, .huge_input_24 {
    margin-left: 20px;
    margin-right: 20px; }

  .row_1, .huge_row_1 {
    width: 38.333px; }

  .width_1, .huge_width_1, .col_1, .huge_col_1 {
    width: -1.667px; }

  .input_1, .huge_input_1 {
    width: -11.667px; }

  .push_row_1, #landing form.login_or_register .login, .huge_push_row_1 {
    margin-left: 38.333px; }

  .push_col_1, .huge_push_col_1 {
    margin-left: 58.333px; }

  .row_2, .huge_row_2 {
    width: 76.667px; }

  .width_2, .huge_width_2, .col_2, .huge_col_2 {
    width: 36.667px; }

  .input_2, .huge_input_2 {
    width: 26.667px; }

  .push_row_2, #landing form.login_or_register .new_user, .huge_push_row_2 {
    margin-left: 76.667px; }

  .push_col_2, .huge_push_col_2 {
    margin-left: 96.667px; }

  .row_3, .huge_row_3 {
    width: 115px; }

  .width_3, .huge_width_3, .col_3, .huge_col_3 {
    width: 75px; }

  .input_3, .huge_input_3 {
    width: 65px; }

  .push_row_3, .huge_push_row_3 {
    margin-left: 115px; }

  .push_col_3, .huge_push_col_3 {
    margin-left: 135px; }

  .row_4, .huge_row_4, #landing form.login_or_register .submit, #landing form.login_or_register .new_user {
    width: 153.333px; }

  .width_4, .huge_width_4, .col_4, #landing form.login_or_register .new_user small, #landing #teaser, #views-agenda .entries .state, .huge_col_4, #landing form.login_or_register .submit input {
    width: 113.333px; }

  .input_4, .huge_input_4 {
    width: 103.333px; }

  .push_row_4, footer nav, .huge_push_row_4, #landing .login_nav, #landing form.login_or_register {
    margin-left: 153.333px; }

  .push_col_4, .huge_push_col_4 {
    margin-left: 173.333px; }

  .row_5, .huge_row_5, #landing form.login_or_register .login, #landing form.login_or_register .pass {
    width: 191.667px; }

  .width_5, .huge_width_5, .col_5, .huge_col_5 {
    width: 151.667px; }

  .input_5, .huge_input_5, #landing form.login_or_register .login input, #landing form.login_or_register .pass input {
    width: 141.667px; }

  .push_row_5, .huge_push_row_5 {
    margin-left: 191.667px; }

  .push_col_5, .huge_push_col_5 {
    margin-left: 211.667px; }

  .row_6, .huge_row_6, #landing #traits li, #landing #traits li .image {
    width: 230px; }

  .width_6, .huge_width_6, .col_6, #views-navbar h1, .huge_col_6, #landing #traits li .copy {
    width: 190px; }

  .input_6, .huge_input_6 {
    width: 180px; }

  .push_row_6, .huge_push_row_6 {
    margin-left: 230px; }

  .push_col_6, .huge_push_col_6 {
    margin-left: 250px; }

  .row_7, .huge_row_7 {
    width: 268.333px; }

  .width_7, .huge_width_7, .col_7, .huge_col_7 {
    width: 228.333px; }

  .input_7, .huge_input_7 {
    width: 218.333px; }

  .push_row_7, .huge_push_row_7 {
    margin-left: 268.333px; }

  .push_col_7, .huge_push_col_7 {
    margin-left: 288.333px; }

  .row_8, .huge_row_8 {
    width: 306.667px; }

  .width_8, .huge_width_8, .col_8, .huge_col_8, #landing header #logo .symbol {
    width: 266.667px; }

  .input_8, .huge_input_8 {
    width: 256.667px; }

  .push_row_8, .huge_push_row_8 {
    margin-left: 306.667px; }

  .push_col_8, .huge_push_col_8 {
    margin-left: 326.667px; }

  .row_9, .huge_row_9 {
    width: 345px; }

  .width_9, .huge_width_9, .col_9, .huge_col_9 {
    width: 305px; }

  .input_9, .huge_input_9 {
    width: 295px; }

  .push_row_9, .huge_push_row_9 {
    margin-left: 345px; }

  .push_col_9, .huge_push_col_9 {
    margin-left: 365px; }

  .row_10, .huge_row_10 {
    width: 383.333px; }

  .width_10, .huge_width_10, .col_10, .huge_col_10 {
    width: 343.333px; }

  .input_10, .huge_input_10 {
    width: 333.333px; }

  .push_row_10, .huge_push_row_10 {
    margin-left: 383.333px; }

  .push_col_10, .huge_push_col_10 {
    margin-left: 403.333px; }

  .row_11, .huge_row_11 {
    width: 421.667px; }

  .width_11, .huge_width_11, .col_11, .huge_col_11 {
    width: 381.667px; }

  .input_11, .huge_input_11 {
    width: 371.667px; }

  .push_row_11, .huge_push_row_11 {
    margin-left: 421.667px; }

  .push_col_11, .huge_push_col_11 {
    margin-left: 441.667px; }

  .row_12, .huge_row_12 {
    width: 460px; }

  .width_12, .huge_width_12, .col_12, .huge_col_12, #landing header #logo .type {
    width: 420px; }

  .input_12, .huge_input_12 {
    width: 410px; }

  .push_row_12, .huge_push_row_12 {
    margin-left: 460px; }

  .push_col_12, .huge_push_col_12 {
    margin-left: 480px; }

  .row_13, .huge_row_13 {
    width: 498.333px; }

  .width_13, .huge_width_13, .col_13, .huge_col_13 {
    width: 458.333px; }

  .input_13, .huge_input_13 {
    width: 448.333px; }

  .push_row_13, .huge_push_row_13 {
    margin-left: 498.333px; }

  .push_col_13, .huge_push_col_13 {
    margin-left: 518.333px; }

  .row_14, .huge_row_14 {
    width: 536.667px; }

  .width_14, .huge_width_14, .col_14, .huge_col_14 {
    width: 496.667px; }

  .input_14, .huge_input_14 {
    width: 486.667px; }

  .push_row_14, .huge_push_row_14 {
    margin-left: 536.667px; }

  .push_col_14, .huge_push_col_14 {
    margin-left: 556.667px; }

  .row_15, .huge_row_15 {
    width: 575px; }

  .width_15, .huge_width_15, .col_15, .huge_col_15 {
    width: 535px; }

  .input_15, .huge_input_15 {
    width: 525px; }

  .push_row_15, .huge_push_row_15 {
    margin-left: 575px; }

  .push_col_15, .huge_push_col_15 {
    margin-left: 595px; }

  .row_16, footer nav, .huge_row_16, #landing .login_nav, #landing form.login_or_register {
    width: 613.333px; }

  .width_16, .huge_width_16, .col_16, #views-navbar ul.nav, .huge_col_16 {
    width: 573.333px; }

  .input_16, .huge_input_16 {
    width: 563.333px; }

  .push_row_16, .huge_push_row_16 {
    margin-left: 613.333px; }

  .push_col_16, .huge_push_col_16 {
    margin-left: 633.333px; }

  .row_17, .huge_row_17 {
    width: 651.667px; }

  .width_17, .huge_width_17, .col_17, .huge_col_17 {
    width: 611.667px; }

  .input_17, .huge_input_17 {
    width: 601.667px; }

  .push_row_17, .huge_push_row_17 {
    margin-left: 651.667px; }

  .push_col_17, .huge_push_col_17 {
    margin-left: 671.667px; }

  .row_18, #views-agenda, #views-agenda .entries, .huge_row_18 {
    width: 690px; }

  .width_18, .huge_width_18, .col_18, #views-agenda .awsmbar, #views-agenda .entries .entry, #views-agenda .entries .fuzz, .huge_col_18 {
    width: 650px; }

  .input_18, .huge_input_18 {
    width: 640px; }

  .push_row_18, .huge_push_row_18 {
    margin-left: 690px; }

  .push_col_18, .huge_push_col_18 {
    margin-left: 710px; }

  .row_19, .huge_row_19 {
    width: 728.333px; }

  .width_19, .huge_width_19, .col_19, .huge_col_19 {
    width: 688.333px; }

  .input_19, .huge_input_19 {
    width: 678.333px; }

  .push_row_19, .huge_push_row_19 {
    margin-left: 728.333px; }

  .push_col_19, .huge_push_col_19 {
    margin-left: 748.333px; }

  .row_20, .huge_row_20 {
    width: 766.667px; }

  .width_20, .huge_width_20, .col_20, .huge_col_20 {
    width: 726.667px; }

  .input_20, .huge_input_20 {
    width: 716.667px; }

  .push_row_20, .huge_push_row_20 {
    margin-left: 766.667px; }

  .push_col_20, .huge_push_col_20 {
    margin-left: 786.667px; }

  .row_21, .huge_row_21 {
    width: 805px; }

  .width_21, .huge_width_21, .col_21, .huge_col_21 {
    width: 765px; }

  .input_21, .huge_input_21 {
    width: 755px; }

  .push_row_21, .huge_push_row_21 {
    margin-left: 805px; }

  .push_col_21, .huge_push_col_21 {
    margin-left: 825px; }

  .row_22, .huge_row_22 {
    width: 843.333px; }

  .width_22, .huge_width_22, .col_22, .huge_col_22 {
    width: 803.333px; }

  .input_22, .huge_input_22 {
    width: 793.333px; }

  .push_row_22, .huge_push_row_22 {
    margin-left: 843.333px; }

  .push_col_22, .huge_push_col_22 {
    margin-left: 863.333px; }

  .row_23, .huge_row_23 {
    width: 881.667px; }

  .width_23, .huge_width_23, .col_23, .huge_col_23 {
    width: 841.667px; }

  .input_23, .huge_input_23 {
    width: 831.667px; }

  .push_row_23, .huge_push_row_23 {
    margin-left: 881.667px; }

  .push_col_23, .huge_push_col_23 {
    margin-left: 901.667px; }

  .row_24, #landing #traits ul, #views-navbar, .huge_row_24 {
    width: 920px; }

  .width_24, .huge_width_24, .col_24, .huge_col_24 {
    width: 880px; }

  .input_24, .huge_input_24 {
    width: 870px; }

  .push_row_24, .huge_push_row_24 {
    margin-left: 920px; }

  .push_col_24, .huge_push_col_24 {
    margin-left: 940px; }

  .huge_hidden, #landing #top_form {
    display: none; } }
.gray_bkg, #landing header, #landing form.login_or_register {
  background: #eeeeee url(../img/classy_fabric.png); }

body {
  padding: 0;
  margin: 0;
  font-family: Verdana, sans-serif; }

h1, h2 {
  font-family: "Myriad Pro", "Myriad Web Pro", "Segoe UI", "Segoe", Myriad, "FrutigerNext", Frutiger, Tahoma, sans-serif; }

h1, h2, p {
  text-rendering: optimizelegibility; }

p {
  -webkit-font-smoothing: antialiased; }

a {
  color: #888888; }
  a:hover {
    color: #080808;
    text-decoration: underline; }

#landing section {
  overflow: hidden; }
#landing #traits {
  padding-top: 20px; }
  #landing #traits ul {
    padding-left: 0;
    margin-left: 0; }
  #landing #traits li {
    padding-left: 0; }
    #landing #traits li .copy h2 {
      margin-bottom: 0;
      font-weight: normal; }
    #landing #traits li .copy p {
      margin-top: 0;
      margin-bottom: 20px; }
    #landing #traits li .image {
      padding-bottom: 10px; }
      #landing #traits li .image img {
        width: 100%;
        height: auto; }

#landing header {
  box-shadow: inset 0px -3px 5px -2px #dddddd, 0px -1px 2px #dddddd;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 20px; }
#landing header #logo {
  overflow: hidden; }
  #landing header #logo .symbol {
    text-align: right;
    padding-top: 15px; }
    #landing header #logo .symbol img {
      width: 100px; }
  #landing header #logo h1 {
    font-size: 48px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 48px; }
  #landing header #logo h2 {
    font-size: 25px;
    font-weight: normal;
    line-height: 160%;
    margin-top: 0;
    margin-bottom: 10px; }
    #landing header #logo h2 small {
      display: block;
      font-family: Verdana, sans-serif; }
#landing .login_nav {
  margin-bottom: 2px; }
#landing form.login_or_register {
  box-shadow: inset 0px 3px 5px -2px #dddddd, 0px 1px 2px #dddddd;
  border-radius: 6px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px; }
  #landing form.login_or_register p {
    margin-top: 0;
    margin-bottom: 0; }
  #landing form.login_or_register label span {
    position: absolute;
    line-height: 28px; }
  #landing form.login_or_register .login input {
    font-size: 16px; }
  #landing form.login_or_register .pass input {
    font-size: 16px; }
  #landing form.login_or_register .login, #landing form.login_or_register .pass {
    margin-bottom: 0; }
  #landing form.login_or_register .new_user {
    height: 26px;
    line-height: 26px;
    position: relative; }
    #landing form.login_or_register .new_user input {
      position: absolute;
      right: 50px;
      top: 4px; }

footer {
  text-align: center; }
  footer nav {
    border-top: 1px solid #cdcdcd;
    padding-top: 20px;
    padding-bottom: 40px; }

#landing #teaser {
  position: absolute;
  right: 0;
  display: none; }

.entry-type, #views-agenda .awsmbar form textarea, #views-agenda .entries .fuzz {
  font-weight: normal;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  line-height: 22px; }

#views-agenda .awsmbar {
  position: relative; }
  #views-agenda .awsmbar form {
    border-radius: 4px;
    padding: 4px 0 4px 0;
    background: white;
    box-shadow: inset 0 0 10px -5px #666666;
    border: 1px solid #bababa; }
    #views-agenda .awsmbar form fieldset {
      padding: 0;
      margin: 0;
      border: 0; }
    #views-agenda .awsmbar form textarea {
      width: 100%;
      min-height: 24px;
      overflow: hidden;
      border: 0;
      margin: 0;
      padding: 0 8px;
      resize: none;
      -webkit-transition-property: height;
      -webkit-transition-duration: 0.2s;
      -moz-transition-property: height;
      -moz-transition-duration: 0.2s;
      transition-property: height;
      transition-duration: 0.2s;
      box-shadow: none; }
      #views-agenda .awsmbar form textarea:focus {
        outline: none;
        box-shadow: none; }
  #views-agenda .awsmbar .awsmbar-clone {
    position: absolute;
    height: auto !important;
    top: 5px;
    left: 1px;
    color: transparent;
    pointer-events: none; }
  #views-agenda .awsmbar ul.relevant {
    margin-left: 0;
    margin-right: 0;
    padding: 0; }
    #views-agenda .awsmbar ul.relevant li {
      cursor: pointer;
      float: left;
      list-style: none;
      padding: 0 8px 2px 8px;
      margin: 0 10px 10px 0;
      border-radius: 4px;
      color: white; }
    #views-agenda .awsmbar ul.relevant .person {
      background-color: #cbcb00; }
    #views-agenda .awsmbar ul.relevant .place {
      background-color: #fe6633; }
    #views-agenda .awsmbar ul.relevant .time {
      background-color: #fe3c6e; }
    #views-agenda .awsmbar ul.relevant .tag {
      background-color: #29abe2; }
#views-agenda .entries .entry {
  position: relative;
  margin-top: 2px;
  margin-bottom: 2px; }
#views-agenda .entries .fuzz {
  margin-left: 0;
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
  text-indent: 8px;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.234);
  border-radius: 4px; }
#views-agenda .entries .state {
  margin: 0;
  position: absolute;
  right: 3px;
  top: 1px; }
  #views-agenda .entries .state .dropdown-toggle {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0; }

#views-navbar .navbar-inner {
  overflow: hidden;
  padding: 0; }
#views-navbar h1 a.brand {
  margin-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 0;
  background-image: url(/img/mm_logo_120227.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: left; }

body {
  background: #dddddd; }
