html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

a:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.small_font, #ui #meta {
  font-size: 12px; }

.medium_font, #tiles .tile span, #tiles .query span {
  font-size: 18px; }

.big_font, #tiles .query_time a span, #tiles .query_person a span, #tiles .query_delegate_in a span, #tiles .query_delegate_out a span, #tiles .query_place a span, #tiles .query_tag a span, #tiles .query_knot a span {
  font-size: 30px; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 !important;
  background: #edf7fa;
  color: #31373f; }

h1 {
  display: none; }

#app {
  margin-left: auto;
  margin-right: auto;
  width: 840px; }

#ui {
  display: inline;
  float: left;
  width: 840px;
  display: inline-block;
  display: block;
  margin-top: 0;
  margin-bottom: 0; }
  #ui:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0; }
  * html #ui {
    height: 1%; }
  #ui #meta {
    color: #999999;
    font-weight: bold;
    font-style: italic;
    z-index: 999;
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 232px;
    display: none; }
  #ui form {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 232px;
    display: none; }
    #ui form #username {
      width: 448px;
      display: none; }
    #ui form #reset {
      margin-left: 20px;
      display: none; }
  #ui #upboats {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 316px;
    text-align: right;
    display: none; }
    #ui #upboats a {
      text-decoration: none;
      font-weight: bold;
      background: white;
      color: black;
      padding: 10px 10px;
      line-height: 30px; }

#tabs {
  display: inline;
  float: left;
  width: 840px;
  display: inline-block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  display: none; }
  #tabs:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0; }
  * html #tabs {
    height: 1%; }
  #tabs .tab {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 148px;
    height: 148px;
    line-height: 148px;
    background: #666666;
    background: -moz-linear-gradient(top, #222222 0%, #666666 50%, #333333 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #222222), color-stop(50%, #666666), color-stop(100%, #333333));
    background: -webkit-linear-gradient(top, #222222 0%, #666666 50%, #333333 100%);
    background: -o-linear-gradient(top, #222222 0%, #666666 50%, #333333 100%);
    background: -ms-linear-gradient(top, #222222 0%, #666666 50%, #333333 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#222222", endColorstr="#333333",GradientType=0 );
    background: linear-gradient(top, #222222 0%, #666666 50%, #333333 100%);
    color: #31373f;
    text-align: center;
    border-radius: 5;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    -o-border-radius: 5; }

#breadcrumbs {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 820px;
  padding-top: 20px;
  text-align: center;
  line-height: 16px; }
  #breadcrumbs span span {
    background: #888888;
    padding: 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    margin: 0 5px;
    cursor: pointer; }
  #breadcrumbs .breadcrumb_person {
    background: #cbcb00; }
  #breadcrumbs .breadcrumb_place {
    background: #fe6633; }
  #breadcrumbs .breadcrumb_tag {
    background: #29abe2; }
  #breadcrumbs .breadcrumb_time {
    background: #fe3c6e; }

#tiles {
  position: relative;
  display: inline;
  float: left;
  width: 840px;
  display: inline-block;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 10px;
  height: 490px; }
  #tiles:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0; }
  * html #tiles {
    height: 1%; }
  #tiles .tile, #tiles .query {
    display: inline;
    float: left;
    width: 168px;
    display: inline-block;
    display: block;
    margin-top: 0;
    margin-bottom: 0; }
    #tiles .tile:after, #tiles .query:after {
      clear: both;
      content: " ";
      display: block;
      font-size: 0;
      line-height: 0;
      visibility: hidden;
      width: 0;
      height: 0; }
    * html #tiles .tile, * html #tiles .query {
      height: 1%; }
    #tiles .tile a, #tiles .query a {
      cursor: pointer;
      position: relative;
      display: inline;
      float: left;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      width: 148px;
      border-radius: 12;
      -webkit-border-radius: 12;
      -moz-border-radius: 12;
      -o-border-radius: 12;
      box-shadow: inset 0px 1px 60px rgba(0, 0, 0, 0.28);
      -webkit-box-shadow: inset 0px 1px 60px rgba(0, 0, 0, 0.28);
      -moz-box-shadow: inset 0px 1px 60px rgba(0, 0, 0, 0.28);
      -o-box-shadow: inset 0px 1px 60px rgba(0, 0, 0, 0.28);
      color: #31373f;
      background: #cccccc;
      border: 4px solid #cccccc;
      width: 140px;
      height: 140px;
      line-height: 140px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      overflow: hidden; }
    #tiles .tile em, #tiles .query em {
      position: absolute;
      display: block;
      top: 2px;
      right: 7px;
      line-height: 20px;
      opacity: 1;
      color: white; }
    #tiles .tile span, #tiles .query span {
      text-shadow: -0.8px -1px 1px rgba(0, 0, 0, 0.66), 0.8px 1px 0 rgba(255, 255, 255, 0.2);
      -webkit-text-shadow: -0.8px -1px 1px rgba(0, 0, 0, 0.66), 0.8px 1px 0 rgba(255, 255, 255, 0.2);
      -moz-text-shadow: -0.8px -1px 1px rgba(0, 0, 0, 0.66), 0.8px 1px 0 rgba(255, 255, 255, 0.2);
      -o-text-shadow: -0.8px -1px 1px rgba(0, 0, 0, 0.66), 0.8px 1px 0 rgba(255, 255, 255, 0.2);
      font-weight: bold;
      word-wrap: break-word; }
  #tiles .tile_x_0 {
    position: absolute;
    left: 0px; }
  #tiles .tile_x_1 {
    position: absolute;
    left: 168px; }
  #tiles .tile_x_2 {
    position: absolute;
    left: 336px; }
  #tiles .tile_x_3 {
    position: absolute;
    left: 504px; }
  #tiles .tile_x_4 {
    position: absolute;
    left: 672px; }
  #tiles .tile_x_5 {
    position: absolute;
    left: 840px; }
  #tiles .tile_y_0 {
    position: absolute;
    top: 0px; }
  #tiles .tile_y_1 {
    position: absolute;
    top: 168px; }
  #tiles .tile_y_2 {
    position: absolute;
    top: 336px; }
  #tiles .tile_y_3 {
    position: absolute;
    top: 504px; }
  #tiles .query_time a {
    background: #edf7fa;
    border-color: #fe3c6e;
    color: #31373f; }
    #tiles .query_time a span {
      text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(254, 60, 110, 0.33);
      -webkit-text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(254, 60, 110, 0.33);
      -moz-text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(254, 60, 110, 0.33);
      -o-text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(254, 60, 110, 0.33);
      line-height: 140px; }
  #tiles .tile_time a {
    background: #fe3c6e;
    border-color: #fe3c6e; }
  #tiles .tile_place_0 a {
    background: #fe3c6e;
    border-color: #fe3c6e; }
  #tiles .tile_place_1 a {
    background: #e94771;
    border-color: #e94771; }
  #tiles .tile_place_2 a {
    background: #d75173;
    border-color: #d75173; }
  #tiles .tile_place_3 a {
    background: #c95875;
    border-color: #c95875; }
  #tiles .tile_place_4 a {
    background: #bd5f77;
    border-color: #bd5f77; }
  #tiles .tile_place_5 a {
    background: #b26478;
    border-color: #b26478; }
  #tiles .query_person a, #tiles .query_delegate_in a, #tiles .query_delegate_out a {
    background: #edf7fa;
    border-color: #cbcb00;
    color: #31373f; }
    #tiles .query_person a span, #tiles .query_delegate_in a span, #tiles .query_delegate_out a span {
      text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(203, 203, 0, 0.33);
      -webkit-text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(203, 203, 0, 0.33);
      -moz-text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(203, 203, 0, 0.33);
      -o-text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(203, 203, 0, 0.33);
      line-height: 140px; }
  #tiles .tile_person a, #tiles .tile_delegate_in a, #tiles .tile_delegate_out a {
    background: #cbcb00;
    border-color: #cbcb00; }
  #tiles .tile_person_0 a {
    background: #cbcb00;
    border-color: #cbcb00; }
  #tiles .tile_person_1 a {
    background: #bebe15;
    border-color: #bebe15; }
  #tiles .tile_person_2 a {
    background: #b4b427;
    border-color: #b4b427; }
  #tiles .tile_person_3 a {
    background: #abab36;
    border-color: #abab36; }
  #tiles .tile_person_4 a {
    background: #a4a442;
    border-color: #a4a442; }
  #tiles .tile_person_5 a {
    background: #9e9e4c;
    border-color: #9e9e4c; }
  #tiles .query_place a {
    background: #edf7fa;
    border-color: #fe6633;
    color: #31373f; }
    #tiles .query_place a span {
      text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(254, 102, 51, 0.33);
      -webkit-text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(254, 102, 51, 0.33);
      -moz-text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(254, 102, 51, 0.33);
      -o-text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(254, 102, 51, 0.33);
      line-height: 140px; }
  #tiles .tile_place a {
    background: #fe6633;
    border-color: #fe6633; }
  #tiles .tile_place_0 a {
    background: #fe6633;
    border-color: #fe6633; }
  #tiles .tile_place_1 a {
    background: #e96a40;
    border-color: #e96a40; }
  #tiles .tile_place_2 a {
    background: #d76e4a;
    border-color: #d76e4a; }
  #tiles .tile_place_3 a {
    background: #c97153;
    border-color: #c97153; }
  #tiles .tile_place_4 a {
    background: #bd735b;
    border-color: #bd735b; }
  #tiles .tile_place_5 a {
    background: #b27561;
    border-color: #b27561; }
  #tiles .query_tag a {
    background: #edf7fa;
    border-color: #29abe2;
    color: #31373f; }
    #tiles .query_tag a span {
      text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(41, 171, 226, 0.33);
      -webkit-text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(41, 171, 226, 0.33);
      -moz-text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(41, 171, 226, 0.33);
      -o-text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(41, 171, 226, 0.33);
      line-height: 140px; }
  #tiles .tile_tag a {
    background: #29abe2;
    border-color: #29abe2; }
  #tiles .tile_tag_0 a {
    background: #29abe2;
    border-color: #29abe2; }
  #tiles .tile_tag_1 a {
    background: #37a4d2;
    border-color: #37a4d2; }
  #tiles .tile_tag_2 a {
    background: #439ec4;
    border-color: #439ec4; }
  #tiles .tile_tag_3 a {
    background: #4d99b9;
    border-color: #4d99b9; }
  #tiles .tile_tag_4 a {
    background: #5694af;
    border-color: #5694af; }
  #tiles .tile_tag_5 a {
    background: #5d91a7;
    border-color: #5d91a7; }
  #tiles .query_knot a {
    background: #edf7fa;
    border-color: #333333;
    color: #31373f; }
    #tiles .query_knot a span {
      text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(51, 51, 51, 0.33);
      -webkit-text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(51, 51, 51, 0.33);
      -moz-text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(51, 51, 51, 0.33);
      -o-text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(51, 51, 51, 0.33);
      line-height: 140px; }
    #tiles .query_knot a span {
      line-height: 148px; }

#entries {
  display: inline;
  float: left;
  width: 336px;
  display: inline-block;
  display: block;
  margin-top: 0;
  margin-bottom: 0; }
  #entries:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0; }
  * html #entries {
    height: 1%; }
  #entries .entry {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 316px;
    background: #333333;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px; }
    #entries .entry h1, #entries .entry p {
      display: block;
      padding: 8px 10px; }
      #entries .entry h1 a, #entries .entry p a {
        text-decoration: none;
        color: #29abe2; }

#gridder li {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 64px; }
